@import "../../../App.scss";

.world-stats__wrapper {
  animation: 2s scaley normal forwards ease-in-out;
  h1 {
    margin: 0;
    font-size: 30px;
    font-weight: bold;
    color: $black;
    padding: 20px;
    font-family: $Bold;
  }
  p,
  div {
    margin: 0;
  }
  &-detail {
    display: flex;
    flex-wrap: wrap;
    p {
      width: 30%;
      border-radius: 3px;
      padding: 20px;
      margin: 0 15px 15px;
      text-align: center;
      font-family: $Bold;
      font-size: 28px;
    }
    label {
      display: block;
      font-family: $SemiBold;
      padding-bottom: 10px;
      color: $labelcolor;
      text-transform: uppercase;
      font-size: 18px;
      margin: 0;
    }
  }
  &-total-case {
    background: $background-totalcase;
  }
  &-total-recovered {
    background: $background-totalrecovered;
  }
  &-total-unresolved {
    background: $background-totalcaseunresolved;
  }
  &-total-death {
    background: $background-totaldeath;
  }
  &-total-new-case {
    background: $background-newcase;
  }
  &-new-total-death {
    background: $background-newdeath;
  }
  &-active-case {
    background: $background-activecase;
  }
  &-affected-countries {
    background: $background-totalcountriesaffected;
  }
  &-serious-case {
    background: $background-totalcaseseroius;
  }
  .last-updatedtime {
    display: block;
    width: 100%;
    color: $last-updated;
    padding-bottom: 0;
    label {
      text-transform: capitalize;
      opacity: 0.6;
      color: $last-updated;
      font-family: $Bold;
      padding: 0;
    }
  }
}
